*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#292a2c;
}

.wrapper{
    width: 620px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(42, 177, 255);
    color: #ffffff;
    border-radius: 50px;
    padding: 100px;
    backdrop-filter: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    align-items: center; 
    text-align:center;
    margin: 60px auto;
  
  }

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(images/ai-generated-gym-with-many-equipments-free-photo.jpg);
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

#heading2{
    font-size: 46px;
    font-weight: 500;
    color: #ff0000;
}

#heading3{
    font-weight: 450;
    font-size: 15px;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.wrapper-contactForm{
    width: 40%;
    padding: 40px;
    background: #ffffff;

}

.wrapper-contactForm h2{
    font-size: 30px;
    color: #0011ff;
    font-weight: 500;
}

.wrapper-contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    color:#ff0000;
}

.wrapper-contactForm .inputBox input,
.wrapper-contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.wrapper-contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.wrapper-contactForm .inputBox input:focus ~ span,
.wrapper-contactForm .inputBox input:valid ~ span,
.wrapper-contactForm .inputBox textarea:focus ~ span,
.wrapper-contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.wrapper-contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media(max-width: 991px){
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .wrapper-contactForm
    {
        width:100%;
}
}